In [95]:
import pandas as pd

In [96]:
df=pd.read_csv("rainfall.csv")

In [97]:
print(df.head(10))

   day  pressure   maxtemp  temparature  mintemp  dewpoint  humidity   cloud   \
0    1     1025.9     19.9         18.3     16.8      13.1         72      49
1    2     1022.0     21.7         18.9     17.2      15.6         81      83
2    3     1019.7     20.3         19.3     18.0      18.4         95      91
3    4     1018.9     22.3         20.6     19.1      18.8         90      88
4    5     1015.9     21.3         20.7     20.2      19.9         95      81
5    6     1018.8     24.3         20.9     19.2      18.0         84      51
6    7     1021.8     21.4         18.8     17.0      15.0         79      56
7    8     1020.8     21.0         18.4     16.5      14.4         78      28
8    9     1020.6     18.9         18.1     17.1      14.3         78      79
9   10     1017.5     18.5         18.0     17.2      15.5         85      91

  rainfall  sunshine           winddirection  windspeed
0      yes       9.3                    80.0       26.3
1      yes       0.6                    50.0       15.3
2      yes       0.0                    40.0       14.2
3      yes       1.0                    50.0       16.9
4      yes       0.0                    40.0       13.7
5      yes       7.7                    20.0       14.5
6       no       3.4                    30.0       21.5
7       no       7.7                    60.0       14.3
8       no       3.3                    70.0       39.3
9      yes       0.0                    70.0       37.7

In [98]:
print(df.tail(10))

     day  pressure   maxtemp  temparature  mintemp  dewpoint  humidity   \
356   22     1020.3     20.6         19.9     18.7      17.6         87
357   23     1017.8     22.3         21.1     19.8      19.6         91
358   24     1016.8     24.7         22.3     21.1      20.7         91
359   25     1020.4     21.4         18.2     16.1      13.5         75
360   26     1020.6     19.7         17.9     16.9      13.3         74
361   27     1022.7     18.8         17.7     16.9      15.0         84
362   28     1026.6     18.6         17.3     16.3      12.8         75
363   29     1025.9     18.9         17.7     16.4      13.3         75
364   30     1025.3     19.2         17.3     15.2      13.3         78
365   31     1026.4     20.5         17.8     15.5      13.0         74

     cloud  rainfall  sunshine           winddirection  windspeed
356      88      yes       0.3                    60.0       27.3
357      79      yes       0.0                    40.0       15.0
358      70      yes       6.0                    40.0        9.4
359      89      yes       0.7                    10.0       27.6
360      87       no       0.6                    30.0       21.6
361      90      yes       0.0                    30.0       18.4
362      85      yes       1.0                    20.0       25.9
363      78      yes       4.6                    70.0       33.4
364      86      yes       1.2                    20.0       20.9
365      66       no       5.7                    20.0       23.3

In [99]:
print(df.columns)

Index(['day', 'pressure ', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity ', 'cloud ', 'rainfall', 'sunshine', '         winddirection',
       'windspeed'],
      dtype='object')

In [100]:
print(df.dtypes)

day                         int64
pressure                  float64
maxtemp                   float64
temparature               float64
mintemp                   float64
dewpoint                  float64
humidity                    int64
cloud                       int64
rainfall                   object
sunshine                  float64
         winddirection    float64
windspeed                 float64
dtype: object

In [101]:
df = df.replace('sunshine', float("nan"))

In [102]:
df

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...
361,27,1022.7,18.8,17.7,16.9,15.0,84,90,yes,0.0,30.0,18.4
362,28,1026.6,18.6,17.3,16.3,12.8,75,85,yes,1.0,20.0,25.9
363,29,1025.9,18.9,17.7,16.4,13.3,75,78,yes,4.6,70.0,33.4
364,30,1025.3,19.2,17.3,15.2,13.3,78,86,yes,1.2,20.0,20.9
365,31,1026.4,20.5,17.8,15.5,13.0,74,66,no,5.7,20.0,23.3

In [103]:
cdf = df.dropna()
print(cdf)

     day  pressure   maxtemp  temparature  mintemp  dewpoint  humidity   \
0      1     1025.9     19.9         18.3     16.8      13.1         72
1      2     1022.0     21.7         18.9     17.2      15.6         81
2      3     1019.7     20.3         19.3     18.0      18.4         95
3      4     1018.9     22.3         20.6     19.1      18.8         90
4      5     1015.9     21.3         20.7     20.2      19.9         95
..   ...        ...      ...          ...      ...       ...        ...
361   27     1022.7     18.8         17.7     16.9      15.0         84
362   28     1026.6     18.6         17.3     16.3      12.8         75
363   29     1025.9     18.9         17.7     16.4      13.3         75
364   30     1025.3     19.2         17.3     15.2      13.3         78
365   31     1026.4     20.5         17.8     15.5      13.0         74

     cloud  rainfall  sunshine           winddirection  windspeed
0        49      yes       9.3                    80.0       26.3
1        83      yes       0.6                    50.0       15.3
2        91      yes       0.0                    40.0       14.2
3        88      yes       1.0                    50.0       16.9
4        81      yes       0.0                    40.0       13.7
..      ...      ...       ...                     ...        ...
361      90      yes       0.0                    30.0       18.4
362      85      yes       1.0                    20.0       25.9
363      78      yes       4.6                    70.0       33.4
364      86      yes       1.2                    20.0       20.9
365      66       no       5.7                    20.0       23.3

[365 rows x 12 columns]

In [104]:
import matplotlib.pyplot as plt
plt.scatter(cdf.cloud,cdf.sunshine)
plt.xlabel('cloud')
plt.ylabel('sunshine')
plt.show()

AttributeError: 'DataFrame' object has no attribute 'cloud'